/manager/
/.htaccess
/sample-robots.txt
/index.php
/vendor/
/composer.json
/assets/.sgThumbs/
/assets/.thumbs/
/assets/backup/
/assets/cache/
/assets/docs/
/assets/export/
/assets/files/
/assets/galleries/
/assets/images/
/assets/import/
/assets/js/
/assets/index.html
/assets/tvs/
/assets/templates/
/assets/snippets/
/assets/site/
/assets/plugins/
/assets/modules/docmanager/
/assets/modules/evopack/
/assets/modules/store/
/assets/modules/index.html
.idea
/assets/lib/.htaccess
/assets/lib/APIHelpers.class.php
/assets/lib/class.modxRTEbridge.php
/assets/lib/class.summary.php
/assets/lib/SimpleTab/
/assets/lib/MODxAPI/
/assets/lib/Module/
/assets/lib/Helpers/
/assets/lib/Formatter/
/assets/modules/collections/controllers/ProducteController.php
/assets/modules/collections/controllers/ProductController.php
/assets/modules/collections/controllers/SortableController.php
/assets/modules/collections/controllers/PreviewController.php
