<?php
namespace collections;
include_once 'BaseController.php';

class ProductController extends BaseController{



    protected $fields = [
        'id'=>[
            'caption'=>'Ид',
            'fillspace' => 1,
            "editor" => false,
        ],
        'pagetitle'=>[
            'caption'=>'Заголовок',
            'type'=>'title'
        ],
        'price'=>[
            'caption'=>'Цена',
        ],
        'old_price'=>[
            'caption'=>'Старая цена.',
        ],
        'sg_image'=>[
            'caption'=>'Фото',
            'type'=>'thumb',
        ],

        'producer'=>[
            'caption'=>'Производитель',
            'type'=>'select',
            'options'=>'@EVAL return $modx->runSnippet("multiParams", array("parent"=>"17","firstEmpty"=>"true", "action"=>"getParamsFromTree"));',
        ],
        'collection'=>[
            'caption'=>'Колекция',
            'type'=>'select',
            'options'=>'@SELECT pagetitle, id FROM [+PREFIX+]site_content WHERE parent = 21 ORDER BY menuindex ASC',
        ],
        'stock'=>[
            'caption'=>'Наличие',
            'type'=>'select',
            'options'=>[
                ['id'=>'yes','value'=>'Да'],
                ['id'=>'no','value'=>'Нет'],
            ],
        ],

        'published'=>[
            'caption'=>'Опубликован',
            'type'=>'checkbox'
        ],
        'deleted'=>[
            'caption'=>'Удален',
            'type'=>'checkbox'
        ],

        'edit'=>[
            'type'=>'edit'
        ],

    ];


    public function __construct($modx, $parent,$moduleurl)
    {
        parent::__construct($modx, $parent,$moduleurl);

        $this->DLParams = array_merge($this->DLParams,[
            'controller' => 'sg_site_content',
            'dir'=> 'assets/snippets/simplegallery/controller/',
        ]);
    }

    protected function prepareData($data)
    {
        $data =  parent::prepareData($data);

        //получаем первую картинку из simple gallery
        $data['sg_image'] = $data['images'][0]['sg_image'];
        $data['sg_image_thumb'] = $this->modx->runSnippet('phpthumb',['input'=>$data['sg_image'],'options'=>'w=30,h=30,zc=C']);




        unset($data['images']);
        unset($data['photos']);

        return $data;
    }

}